In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('../rpg_db.sqlite3')
curs = conn.cursor()

In [11]:
q = 'SELECT * from sqlite_master'
curs.execute(q).fetchall()

[('table',
  'django_migrations',
  'django_migrations',
  2,
  'CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table',
  'auth_group',
  'auth_group',
  7,
  'CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(80) NOT NULL UNIQUE)'),
 ('index', 'sqlite_autoindex_auth_group_1', 'auth_group', 8, None),
 ('table',
  'auth_group_permissions',
  'auth_group_permissions',
  9,
  'CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table',
  'auth_user_groups',
  'auth_user_groups',
  12,
  'CREATE TABLE "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table',
  'auth_user_user_permissions',
  'auth_user_user_permissions',
  13,
  'CREATE TABLE "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('index',
  'auth_group_permissions_group_id_permission_id_0cd325b0_uniq',
  'auth_group_permissions',
  16,
  'CREATE UNIQUE INDEX auth_group_permissions_group_id_permission_id_0cd325b0_uniq ON "auth_group_permissions" ("group_id", "permission_id")'),
 ('index',
  'auth_group_permissions_group_id_b120cbf9',
  'auth_group_permissions',
  17,
  'CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id")'),
 ('index',
  'auth_group_permissions_permission_id_84c5c92e',
  'auth_group_permissions',
  18,
  'CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id")'),
 ('index',
  'auth_user_groups_user_id_group_id_94350c0c_uniq',
  'auth_user_groups',
  19,
  'CREATE UNIQUE INDEX auth_user_groups_user_id_group_id_94350c0c_uniq ON "auth_user_groups" ("user_id", "group_id")'),
 ('index',
  'auth_user_groups_user_id_6a12ed8b',
  'auth_user_groups',
  20,
  'CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id")'),
 ('index',
  'auth_user_groups_group_id_97559544',
  'auth_user_groups',
  22,
  'CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id")'),
 ('index',
  'auth_user_user_permissions_user_id_permission_id_14a6b632_uniq',
  'auth_user_user_permissions',
  24,
  'CREATE UNIQUE INDEX auth_user_user_permissions_user_id_permission_id_14a6b632_uniq ON "auth_user_user_permissions" ("user_id", "permission_id")'),
 ('index',
  'auth_user_user_permissions_user_id_a95ead1b',
  'auth_user_user_permissions',
  25,
  'CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id")'),
 ('index',
  'auth_user_user_permissions_permission_id_1fbb5f2c',
  'auth_user_user_permissions',
  26,
  'CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id")'),
 ('table',
  'django_admin_log',
  'django_admin_log',
  30,
  'CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL)'),
 ('index',
  'django_admin_log_content_type_id_c4bce8eb',
  'django_admin_log',
  27,
  'CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id")'),
 ('index',
  'django_admin_log_user_id_c564eba6',
  'django_admin_log',
  28,
  'CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id")'),
 ('table',
  'armory_item',
  'armory_item',
  29,
  'CREATE TABLE "armory_item" ("item_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(30) NOT NULL, "value" integer NOT NULL, "weight" integer NOT NULL)'),
 ('table',
  'armory_weapon',
  'armory_weapon',
  31,
  'CREATE TABLE "armory_weapon" ("item_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "armory_item" ("item_id") DEFERRABLE INITIALLY DEFERRED, "power" integer NOT NULL)'),
 ('table',
  'django_content_type',
  'django_content_type',
  5,
  'CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL)'),
 ('index',
  'django_content_type_app_label_model_76bd3d3b_uniq',
  'django_content_type',
  4,
  'CREATE UNIQUE INDEX django_content_type_app_label_model_76bd3d3b_uniq ON "django_content_type" ("app_label", "model")'),
 ('table',
  'auth_permission',
  'auth_permission',
  32,
  'CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL)'),
 ('index',
  'auth_permission_content_type_id_codename_01ab375a_uniq',
  'auth_permission',
  6,
  'CREATE UNIQUE INDEX auth_permission_content_type_id_codename_01ab375a_uniq ON "auth_permission" ("content_type_id", "codename")'),
 ('index',
  'auth_permission_content_type_id_2f476e4b',
  'auth_permission',
  14,
  'CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id")'),
 ('table',
  'auth_user',
  'auth_user',
  10,
  'CREATE TABLE "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(30) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "last_name" varchar(150) NOT NULL)'),
 ('index', 'sqlite_autoindex_auth_user_1', 'auth_user', 11, None),
 ('table',
  'charactercreator_character_inventory',
  'charactercreator_character_inventory',
  37,
  'CREATE TABLE "charactercreator_character_inventory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "character_id" integer NOT NULL REFERENCES "charactercreator_character" ("character_id") DEFERRABLE INITIALLY DEFERRED, "item_id" integer NOT NULL REFERENCES "armory_item" ("item_id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table',
  'charactercreator_necromancer',
  'charactercreator_necromancer',
  38,
  'CREATE TABLE "charactercreator_necromancer" ("mage_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "charactercreator_mage" ("character_ptr_id") DEFERRABLE INITIALLY DEFERRED, "talisman_charged" bool NOT NULL)'),
 ('index',
  'charactercreator_character_inventory_character_id_item_id_8d6149ec_uniq',
  'charactercreator_character_inventory',
  40,
  'CREATE UNIQUE INDEX charactercreator_character_inventory_character_id_item_id_8d6149ec_uniq ON "charactercreator_character_inventory" ("character_id", "item_id")'),
 ('index',
  'charactercreator_character_inventory_character_id_007ee169',
  'charactercreator_character_inventory',
  41,
  'CREATE INDEX "charactercreator_character_inventory_character_id_007ee169" ON "charactercreator_character_inventory" ("character_id")'),
 ('index',
  'charactercreator_character_inventory_item_id_7d42dc74',
  'charactercreator_character_inventory',
  42,
  'CREATE INDEX "charactercreator_character_inventory_item_id_7d42dc74" ON "charactercreator_character_inventory" ("item_id")'),
 ('table',
  'django_session',
  'django_session',
  43,
  'CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL)'),
 ('index', 'sqlite_autoindex_django_session_1', 'django_session', 44, None),
 ('index',
  'django_session_expire_date_a5c62663',
  'django_session',
  45,
  'CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date")'),
 ('table',
  'charactercreator_character',
  'charactercreator_character',
  15,
  'CREATE TABLE "charactercreator_character" ("character_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(30) NOT NULL, "level" integer NOT NULL, "exp" integer NOT NULL, "hp" integer NOT NULL, "strength" integer NOT NULL, "intelligence" integer NOT NULL, "dexterity" integer NOT NULL, "wisdom" integer NOT NULL)'),
 ('table',
  'charactercreator_cleric',
  'charactercreator_cleric',
  46,
  'CREATE TABLE "charactercreator_cleric" ("character_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "charactercreator_character" ("character_id") DEFERRABLE INITIALLY DEFERRED, "using_shield" bool NOT NULL, "mana" integer NOT NULL)'),
 ('table',
  'charactercreator_fighter',
  'charactercreator_fighter',
  33,
  'CREATE TABLE "charactercreator_fighter" ("character_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "charactercreator_character" ("character_id") DEFERRABLE INITIALLY DEFERRED, "using_shield" bool NOT NULL, "rage" integer NOT NULL)'),
 ('table',
  'charactercreator_mage',
  'charactercreator_mage',
  35,
  'CREATE TABLE "charactercreator_mage" ("character_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "charactercreator_character" ("character_id") DEFERRABLE INITIALLY DEFERRED, "has_pet" bool NOT NULL, "mana" integer NOT NULL)'),
 ('table',
  'charactercreator_thief',
  'charactercreator_thief',
  34,
  'CREATE TABLE "charactercreator_thief" ("character_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "charactercreator_character" ("character_id") DEFERRABLE INITIALLY DEFERRED, "is_sneaking" bool NOT NULL, "energy" integer NOT NULL)')]

In [ ]:
"""
Use sqlite3 to load and write queries to explore the data, and answer the following questions.
You should store each query as a string and label each as the indicated variable names.
Also, store each of these queries in a seperate file named queries.py and either run these queries in the file
or import them into another:

TOTAL_CHARACTERS: How many total Characters are there?
TOTAL_SUBCLASS: How many of each specific subclass (the necromancer table)?
TOTAL_ITEMS: How many total Items?
WEAPONS: How many of the Items are weapons?
NON_WEAPONS: How many of the items are not weapons?
CHARACTER_ITEMS: How many Items does each character have? (Return first 20 rows)
CHARACTER_WEAPONS: How many Weapons does each character have? (Return first 20 rows)
AVG_CHARACTER_ITEMS: On average, how many Items does each Character have?
AVG_CHARACTER_WEAPONS: On average, how many Weapons does each character have?
"""

In [13]:
TOTAL_CHARACTERS = 'SELECT COUNT(*) from charactercreator_character'
curs.execute(TOTAL_CHARACTERS)
print(curs.fetchall())

[(302,)]

In [14]:
TOTAL_SUBCLASS = 'SELECT COUNT(*) from charactercreator_necromancer'
curs.execute(TOTAL_SUBCLASS)
print(curs.fetchall())

[(11,)]

In [15]:
TOTAL_ITEMS = 'SELECT COUNT(*) from armory_item'
curs.execute(TOTAL_ITEMS)
print(curs.fetchall())

[(174,)]

In [16]:
WEAPONS = 'SELECT COUNT(*) FROM armory_item, armory_weapon WHERE armory_item.item_id = armory_weapon.item_ptr_id'
curs.execute(WEAPONS)
print(curs.fetchall())

[(37,)]

In [17]:
NON_WEAPONS = 'SELECT COUNT(*) FROM armory_item, armory_weapon WHERE armory_item.item_id != armory_weapon.item_ptr_id'
curs.execute(NON_WEAPONS)
print(curs.fetchall())

[(6401,)]

In [18]:
CHARACTER_ITEMS = 'SELECT COUNT(item_id) FROM charactercreator_character_inventory GROUP BY character_id LIMIT 20'
curs.execute(CHARACTER_ITEMS)
print(curs.fetchall())

[(3,), (3,), (2,), (4,), (4,), (1,), (5,), (3,), (4,), (4,), (3,), (3,), (4,), (4,), (4,), (1,), (5,), (5,), (3,), (1,)]

In [19]:
CHARACTER_WEAPONS = 'SELECT COUNT(item_id) FROM charactercreator_character_inventory, armory_weapon WHERE item_id = armory_weapon.item_ptr_id GROUP BY character_id LIMIT 20'
curs.execute(CHARACTER_WEAPONS)
print(curs.fetchall())

[(2,), (1,), (1,), (1,), (1,), (1,), (1,), (3,), (2,), (1,), (1,), (1,), (2,), (3,), (2,), (2,), (2,), (1,), (1,), (1,)]

In [20]:
AVG_CHARACTER_ITEMS = 'SELECT AVG(count) FROM (SELECT COUNT(item_id) AS count FROM charactercreator_character_inventory GROUP BY character_id)'
curs.execute(AVG_CHARACTER_ITEMS)
print(curs.fetchall())

[(2.9735099337748343,)]

In [21]:
AVG_CHARACTER_WEAPONS = 'SELECT AVG(count) FROM (SELECT COUNT(item_id) as count FROM charactercreator_character_inventory, armory_weapon WHERE item_id = armory_weapon.item_ptr_id GROUP BY character_id)'
curs.execute(AVG_CHARACTER_WEAPONS)
print(curs.fetchall())

[(1.3096774193548386,)]

In [22]:
## PART 2
"""Using the standard sqlite3 module:

Open a connection to a new (blank) database file buddymove_holidayiq.sqlite3
Use df.to_sql (documentation) to insert the data into a new table review in the SQLite3 database
Then write the following queries (also with sqlite3) to test:

Count how many rows you have - it should be 249!
How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?
(Stretch) What are the average number of reviews for each category?
Your code (to reproduce all above steps) should be saved in buddymove_holidayiq.py.

When you submit your files to Canvas you should upload queries.py, buddymove_holidayiq.py, and buddymove_holidayiq.sqlite3."""

In [ ]:
df = pd.read_csv('../buddymove_holidayiq.csv')
df.head()

conn.close()
curs.close()

In [30]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')
curs = conn.cursor()
#df.to_sql('buddymove_holidayiq', con = conn)

In [31]:
test_q = 'SELECT * FROM buddymove_holidayiq'
results = curs.execute(test_q).fetchall()
#columns = [col[0] for col in curs.description()]
data = pd.DataFrame(results)
data.head()

TypeError: 'tuple' object is not callable

In [28]:
# Count how many rows you have - it should be 249!
count = 'SELECT COUNT(*) FROM buddymove_holidayiq'
print(curs.execute(count).fetchall())

[(249,)]

In [32]:
# How many users who reviewed at least 100 Nature in the category also reviewed at least 100
# in the Shopping category?
reviews = 'SELECT COUNT(*) FROM buddymove_holidayiq WHERE Nature > 100 AND Shopping > 100'
print(curs.execute(reviews).fetchall())

[(78,)]

In [39]:
# What are the average number of reviews for each category?
avg = 'SELECT AVG(Sports), AVG(Religious), AVG(Nature), AVG(Theatre), AVG(Shopping), AVG(Picnic) FROM buddymove_holidayiq'
print(curs.execute(avg).fetchall())

[(11.987951807228916, 109.77911646586345, 124.51807228915662, 116.37751004016064, 112.63855421686748, 120.40160642570281)]

In [1]:
titanic = pd.read_csv()

NameError: name 'conn' is not defined