In [1]:
import sqlite3

conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()

In [3]:
drop = 'DROP TABLE demo'
curs.execute(drop)

ProgrammingError: Cannot operate on a closed database.

In [4]:

create_q = 'CREATE table demo (' \
    's text,' \
    'x int,' \
    'y int)'
curs.execute(create_q)
conn.commit()

ProgrammingError: Cannot operate on a closed database.

In [5]:
show_all = 'SELECT * FROM demo'


insert = 'INSERT into demo VALUES (\'g\', 3, 9), (\'v\', 5, 7), (\'f\', 8, 7)'

curs.execute(insert)

print(curs.execute(show_all).fetchall())

ProgrammingError: Cannot operate on a closed database.

In [6]:
conn.commit()

In [7]:
row_count = 'SELECT COUNT(*) from demo'
xy_at_least_5 = 'SELECT COUNT(*) from demo WHERE x > 4 AND y > 4'
unique_y = 'SELECT COUNT(DISTINCT y) from demo'

In [8]:
print(curs.execute(row_count).fetchall())
print(curs.execute(xy_at_least_5).fetchall())
print(curs.execute(unique_y).fetchall())

[(3,)]
[(2,)]
[(2,)]

In [9]:
conn.close()

In [6]:
conn = sqlite3.connect('northwind_small.sqlite3')
curs = conn.cursor()

In [ ]:
expensive_items = 'SELECT UnitPrice, ProductName FROM Product ORDER BY UnitPrice DESC LIMIT 10'
print(curs.execute(expensive_items).fetchall())

In [ ]:
avg_hire_age = 'SELECT AVG(HireDate - BirthDate) FROM employee'
print(curs.execute(avg_hire_age).fetchall())

In [ ]:
avg_age_by_city = 'SELECT CITY, AVG(HireDate - BirthDate) FROM employee GROUP BY CITY'
print(curs.execute(avg_age_by_city).fetchall())

In [ ]:
ten_most_expensive = 'SELECT UnitPrice, ProductName, CompanyName ' \
                     'FROM Product LEFT JOIN Supplier ON Product.SupplierId = Supplier.Id ORDER BY UnitPrice DESC LIMIT 10'
print(curs.execute(ten_most_expensive).fetchall())

In [ ]:
largest_category = 'SELECT MAX(total), CategoryName FROM' \
                   '(SELECT CategoryName, COUNT(*) AS total ' \
                   'FROM Product LEFT JOIN Category ON Product.CategoryId = Category.Id)'
print(curs.execute(largest_category).fetchall())

In [27]:
most_territories = 'SELECT FirstName, LastName, MAX(territories) FROM ' \
                   '(SELECT FirstName, LastName, COUNT(*) AS territories' \
                   ' FROM EmployeeTerritory LEFT JOIN Employee ON EmployeeTerritory.EmployeeId = Employee.Id GROUP BY LastName)'
print(curs.execute(most_territories).fetchall())

[('Robert', 'King', 10)]